@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans&display=swap');

* {
  font-family: 'IBM Plex Sans', sans-serif;
}

.title-info {}

#page-title {}

#page-subtitle {}

.card-container {
  width: 70%;
  margin: auto;
}

p {
  font-size: 30px;
}

.card {
  background-color: dodgerblue;
  padding: 100px;
  margin-bottom: 40px;
}

.card-info {}

.card-title {
  font-size: 40px;
}



.card-image-container {
  width: 50%;
}

.card-image-container img {
  width: 100%;
}
